@import '../../../assets/mixins';
.carousel-wrapper{
    width: 100%;
    height: 500px;
    position: relative;
    @include respond(phone){
        height: 400px;
    }
    .carousel__trackContainer{
        height: 100%;
        overflow: hidden;
        border: 1.5px solid var(--green);
        .carousel__btn--left{
            background: var(--dark-navy);
            border: none;
            cursor: pointer;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            z-index: 2;
            left: 2rem;
            @include respond(phone){
                left: 1rem;
            }
            img{
                @include respond(phone){
                    width: 25px;
                }
            }
        }
        .carousel__track{
            list-style: none;
            height: 100%;
            width: 100%;
            position: relative;
            transition: all 250ms ease-in;
            @include respond(phone){
                font-size: var(--fz-md);
            }
            .carousel-slide{
                position: absolute;
                top: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 8rem;
                font-size: 27px;
                font-style: italic;
                @include respond(phone){
                    padding: 0 4rem;
                    font-size: 16px;
                }
            }
        }
        .carousel__btn--right{
            background: var(--dark-navy);
            border: none;
            cursor: pointer;
            position: absolute;
            transform: translateY(-50%);
            top: 50%;
            right: 2rem;
            @include respond(phone){
                right: 1rem;
            }
            img{
                @include respond(phone){
                    width: 25px;
                }
            }
        }
    }
    .carousel__nav{
        display: flex;
        justify-content: center;
        .carousel__indicator{
            margin-right: 5px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 0;
            background-color: rgba(0,0,0,.3);
        }
    }
}