<div class="carousel-wrapper">
    <div class="carousel__trackContainer">
        <button #prevBtn class="carousel__btn--left" (click)="prevBtnClick($event)">
            <img src="../../../assets/left-arrow.png" alt="left Arrow">
        </button>
        <ul #carouselTrack class="carousel__track">
            <li *ngFor="let item of config.list;index as i" class="carousel-slide">
                {{item.title}}
            </li>
            
        </ul>
        <button #nextBtn class="carousel__btn--right" (click)="nextBtnClick($event)">
            <img src="../../../assets/right-arrow.png" alt="left Arrow">
        </button>
    </div>
    <div class="carousel__nav">
        <button *ngFor="let item of config.list;" class="carousel__indicator"></button>
    </div>
</div>
