
<div class="experience-wrapper">
    <app-title [titleConfig]="config.titleSection"></app-title>
    <div class="experience-container">
        <div class="experience__leftPanel">
            <ul #list class="">
                <li  *ngFor="let item of config.list;index as i" (click)="showJobDesc(i, $event)">{{item.workplace}}</li>
            </ul>
        </div>
        <div class="experience__rightPanel">
            <h2> <span class="designation">{{config.list[index].designation}}</span><span class="workplace">&nbsp;@&nbsp;{{config.list[index].workplace}}</span></h2>
            <p>{{config.list[index].period}}</p>
            <ul>
                <li class="list" *ngFor="let item of config.list[index].jobDescription"> {{item.list}}</li>
            </ul>
        </div>
    </div>
</div>
