
@import '../../../../assets/mixins';
.quotes-wrapper{
    padding: 4rem 0;
    .carousel-wrapper{
        padding: 5rem 0;
        @include respond(phone){
            padding: 2rem 0;
        }
    }
}