<div class="main-wrapper">
    <section class="main-header">
        <app-header [config]="headerConfig"></app-header>
    </section>
        <app-side-orientation></app-side-orientation>
    <main class="main-content">
        <section class="section main-intro">
            <app-intro [config]="introConfig"></app-intro>
        </section>
        <section class="section main-about">
            <app-about [config]="aboutConfig"></app-about>
        </section>
        <section class="section main-experience">
            <app-experience [config]="experienceConfig"></app-experience>
        </section>
        <section class="section main-carousel">
            <app-quotes [config] ="inspiringQuotesConfig"></app-quotes>
        </section>
        <section class="section main-footer">
            <app-footer></app-footer>
        </section>
    </main>
</div>