@font-face {
    font-family: 'calibre-regular';
    src: url('./fonts/Calibre/Calibre-Regular.woff2') format('woff2'),
         url('./fonts/Calibre/Calibre-Regular.woff') format('woff'),
         url('./fonts/Calibre/Calibre-Regular.ttf') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'calibre-sb';
    src: url('./fonts/Calibre/Calibre-Semibold.woff2') format('woff2'),
         url('./fonts/Calibre/Calibre-Semibold.woff') format('woff'),
         url('./fonts/Calibre/Calibre-Semibold.ttf') format('woff');
    font-weight: 600; /* Medium */
    font-style: normal;
  }

  @font-face {
    font-family: 'calibre-medium';
    src: url('./fonts/Calibre/Calibre-Medium.woff2') format('woff2'),
         url('./fonts/Calibre/Calibre-Medium.woff') format('woff'),
         url('./fonts/Calibre/Calibre-Medium.ttf') format('woff');
    font-weight: 500; /* Regular */
    font-style: normal;
  }
  
 
  
  
  
  @font-face {
    font-family: 'sfmono-regular';
    src: url('./fonts/SFMono/SFMono-Regular.woff2') format('woff2'),
         url('./fonts/SFMono/SFMono-Regular.woff') format('woff'),
         url('./fonts/SFMono/SFMono-Regular.ttf') format('woff');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'sfmono-sb';
    src: url('./fonts/SFMono/SFMono-Semibold.woff2') format('woff2'),
         url('./fonts/SFMono/SFMono-Semibold.woff') format('woff'),
         url('./fonts/SFMono/SFMono-Semibold.ttf') format('woff');
    font-weight: 600; /* Medium */
    font-style: normal;
  }

  @font-face {
    font-family: 'sfmono-medium';
    src: url('./fonts/SFMono/SFMono-Medium.woff2') format('woff2'),
         url('./fonts/SFMono/SFMono-Medium.woff') format('woff'),
         url('./fonts/SFMono/SFMono-Medium.ttf') format('woff');
    font-weight: 500; /* Regular */
    font-style: normal;
  }
  
 
  
  
  
  