<div class="intro-wrapper">
    <div class="introHeader">
        <h1 class="big-heading">{{config.introHeader.title}}</h1>
    </div>
    <div class="introSubHeader">
        <h2 class="big-heading">{{config.introSubHeader.title}}</h2>
    </div>
    <div class="introSubDescription">
        <h1 class="big-heading">{{config.introDescription.title}} 
            <app-typed [config]="config.introDescription.typedAnimationCoonfig"></app-typed>
        </h1>
    </div>
    <div class="introSection">
        <p>{{config.introSection.title}}</p>
    </div>
    <div class="introMailLink">
        <a href="mailto:donetmathew@gmail.com" class="email-link"> Get in touch</a>
    </div>
</div>