.about-wrapper{
    margin-top: 4rem;
    color:var(--lightest-slate);
    font-family: var(--font-mono);
    .about__content{
        padding: 5rem 0;
        display: table;
        .about__content--left{
            margin-right: 3rem;
            display: table-cell;
            .profileImage{
                width: 250px;
                border-radius: 50%;
                margin-right: 2rem;
            }
        }
        .about__content--right{
            display: table-cell;
            vertical-align: middle;
        }
    }
}