@import '../../../../assets/mixins';
.about-wrapper{
    margin-top: 4rem;
    padding: 4rem 0;
    color:var(--slate);
    .about__content{
        padding: 5rem 0;
        display: table;
        @include respond(phone){
            padding: 3rem 0;
        }
        @include respond(phone){
            display: block;
            text-align: center;
        }
        .about__content--left{
            margin-right: 3rem;
            display: table-cell;
            @include respond(phone){
                display: block;
                margin-bottom: 3rem;
            }
            .profileImage{
                width: 250px;
                border-radius: 50%;
                margin-right: 2rem;
            }
        }
        .about__content--right{
            display: table-cell;
            vertical-align: middle;
            @include respond(phone){
                display: block;
                text-align: center;
            }
            ::ng-deep {
            .skills-list{
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                list-style: none;
                padding-top: 20px;
                li::before {
                    content: "▹";
                    position: absolute;
                    left: 0px;
                    top: 10px;
                    color: var(--green);
                    font-size: var(--fz-sm);
                    line-height: 12px;
                }
                li{
                    width: 50%;
                    position: relative;
                    padding: 5px 0 5px 20px;
                }
                
            }
        }

        }
    }
}