<div class="about-wrapper">
    <h2 class="about__title">
        About me
    </h2>
    <div class="about__content">
        <div class="about__content--left">
            <img class="profileImage" src="../../../../assets/profile.jpg" alt="Profile picture">
        </div>
        <div class="about__content--right">
            Content adding....Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, vitae placeat. Maxime quas ratione molestias recusandae? Voluptatum aperiam architecto, perspiciatis pariatur rerum autem non quisquam omnis? Tempora ea sit saepe?
        </div>
    </div>
</div>
